html, body {
	margin: 0;
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: Tahoma, Arial, sans-serif;
}

.hidden {
    display: none;
}

.dv-score {
	margin: 1em;
}

.dv-play-game {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 2em;
}

.btn-play-game {
    background-color: #90EE90;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}

.rock {
	position: absolute;
	height: 120px;
	width: 110px;
    background-image: url('images/rock.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}